<form [formGroup]="form" novalidate class="col-xs-6">
  <div class="form-group">
    <label class="center-block">Username:
      <input class="form-control" [formControl]="username">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Password:
      <input class="form-control" [formControl]="password" type="password">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Confirm Password:
      <input class="form-control" [formControl]="confirmPassword" type="password">
    </label>
  </div>
  <button class="button" (click)="onSubmit()">
    Sign-up
  </button>
</form>

<div class="col-xs-6">
  <p>Username control: {{ username.errors | json }}</p>
  <p>Password control: {{ password.errors | json }}</p>
  <p>Confirm Password control: {{ confirmPassword.errors | json }}</p>
  <p>Form: {{ form.errors | json }} Valid: {{ form.valid }}</p>
</div>
